
<% if(success.length !=0) { %>
    <main class="container mt-5">

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </main>
    <% } %>

        <% if(error.length !=0) { %>
            <main class="container mt-5">

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            </main>
            <% } %>
