<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/homePage.css">
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="campgroundImagesSeeds/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="campgroundImagesSeeds/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="campgroundImagesSeeds/favicons/favicon-16x16.png">
    <link rel="manifest" href="campgroundImagesSeeds/favicons/site.webmanifest">
    <link rel="mask-icon" href="campgroundImagesSeeds/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff"> -->
</head>

<body class="vh-100">
    <div class="cover-container d-flex h-100 w-100 mx-auto flex-column align-center">
        <header class="mb-auto d-flex sticky-top">
            <h3>YelpCamp</h3>
            <nav class="nav navbar-expand-lg navbar-dark ms-auto">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <% if(!currentUser) {%>
                    <a class="nav-link" href="/login">Sign in</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
            </nav>
        </header>
        <main class="mx-auto my-auto welcomeContent text-center">
            <% if(currentUser) {%>
                <h1>Hello <%=currentUser.username %>,</h1>
                <% } else {%>
                    <h1>Hello Adventurer,</h1>
                    <% } %>
                        <p class="lead"> Welcome to YelpCamp! <br> Jump right in and explore many campgrounds. <br>
                            Feel free to share some of your own and comment on others!</p>
                        <a href="/campgrounds" class="btn btn-light">View Campgrounds</a>
        </main>
        <footer class="mt-auto text-white-50 text-center">
            <p>&copy; YelpCamp 2021</p>
        </footer>
    </div>
</body>

</html>