#cluster-map{
    max-width: 100%;
    height: 100%;
    display: block;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#map{
    width: 100%;
    height: 300px
}

.indexPageHeading{
    font-weight: 600;
    text-align: center;
    /* text-decoration: underline; */
    color: black;
}

.cluster-map-container{
    padding-left: 0;
}

.filterArea{
    border: 2px solid red;
}

.navbar{
    font-weight: 600;
}

.nav-link{
    border-bottom: 0.20rem solid transparent;
}

.nav-link:hover{
    color: rgba(255,255,255, 1);
    border-bottom-color: rgba(255,255,255,0.75);
}