body{
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), 
    url("https://images.unsplash.com/photo-1536257104079-aa99c6460a5a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
}

#alreadyUser{
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.85));
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.registerHeader{
    color: black;
    padding: 1rem;
}

#registerButton{
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid #27b180;
    border-bottom-width: 3px;
    background-color: #2bda9c;
    background-image:  linear-gradient(45deg,
     rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%,
     rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%,
     rgba(255, 255, 255, 0.15) 75%,rgba(0, 0, 0, 0) 75%,
     rgba(0, 0, 0, 0)
     );
    cursor:pointer;
    background-size: 20px 20px;
    color: white;
    transition: all 0.3s ease;
}

#registerButton:hover{
    background-size: 40px 40px;
    outline: none;
}

#registerButton:focus, #registerButton:active{
    outline: none;
}

.card{
    border-radius: 0.5rem;
    margin: 100px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 50px 10px;
}

.card::before, .card::after{
    position: absolute;
    z-index: -1;
    content: "";
    border-radius: 5px;
    height: 100%;
    background-color: white;
    display: block;
    -webkit-transform: scale(0.9) translate(0, 0);
    transform: scale(0.9) translate(0, 0);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #e6e6e6;
    transition: all 0.3s ease;
}

.card:hover::before {
    z-index: -1;
    -webkit-transform: scale(0.96) translate(0, 16px);
    transform: scale(0.96) translate(0, 16px);
}
.card:hover::after {
    z-index: -2;
    transition-delay: 0.1s;
    -webkit-transform: scale(0.92) translate(0, 32px);
    transform: scale(0.92) translate(0, 32px);
}

.card-body form input{
    border: 1px solid #cccbcb;
    border-bottom-width: 3px;
    outline: none;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card-body form input[type="text"]:hover, .card-body form input[type="email"]:hover, .card-body form input[type="password"]:hover{
    border-color: #929292;
}

.card-body form input[type="text"]:focus, .card-body form input[type="email"]:focus, .card-body form input[type="password"]:focus,
.card-body form input[type="text"]:active, .card-body form input[type="email"]:active, .card-body form input[type="password"]:active{
    border-color: #929292;
    box-shadow: none;
}