<% layout('/layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/loginPage.css">
    <main class="container mt-5 mt-auto">
        <div class="row">
            <div class="col-8 offset-2">
                <div class="card shadow-lg">
                    <div class="row w-100">
                        <div class="col-6">
                            <div class="h-100 d-flex flex-column align-items-center justify-content-center"
                                id="registerNew">
                                <h1>Already a user?</h1>
                                <p class="lead">Sign in instead!</p>
                                <a href="/login" class="btn btn-outline-light w-50">Sign in</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <h1 class=" text-center registerHeader mx-auto w-100 my-auto">Join YelpCamp</h1>
                            <div class="card-body">
                                <form action="/register" method="POST"
                                    class="d-flex flex-column align-items-center needs-validation" novalidate>
                                    <div class="mb-3 w-100">
                                        <label class="form-label" for="username">Username</label>
                                        <input class="form-control" type="text" name="username" id="username" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Enter Username!
                                        </div>
                                    </div>
                                    <div class="mb-3 w-100">
                                        <label class="form-label" for="email">Email</label>
                                        <input class="form-control" type="email" name="email" id="email" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Enter Email!
                                        </div>
                                    </div>
                                    <div class="mb-3 w-100">
                                        <label class="form-label" for="password">Password</label>
                                        <input class="form-control" type="password" name="password" id="password"
                                            required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Enter Password!
                                        </div>
                                    </div>

                                    <button id="registerButton"
                                        class="w-100 btn btn-outline-dark d-block mt-4 mb-2">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>